#*.pyc
#
#.xml
#
#auny-erp-e2e-tests-66e3568df53f/.idea/
#
#*.log
#
#1549537666393	geckodriver	INFO	geckodriver 0.19.0
#
#node_modules
## pycharm
#.idea
#
## VSCode
#.vscode
#.vscode/
#node_modules/
#cypress.env.json
#cypress/videos
#cypress/screenshots
#cypress/.DS_Store
#.Ds_store
#.DS_Store
#.DS_Store/
#package-lock.json